.container {
  display: flex;
}

.link-cleaner-container {
  flex-grow: 9;
}

.column {
  flex-grow: 1;
  max-width: 85px;
}

.new-links-container {
  max-width: 30vw;
  flex-grow: 3;
  display: flex;
  justify-content: center;
}
