.container {
  display: flex;
}

.link-cleaner-container {
  flex-grow: 9;
  display: flex;
  justify-content: center;
  align-items: center;
}

.column {
  flex-grow: 1;
  max-width: 85px;
}

.new-links-container {
  max-width: 30vw;
  flex-grow: 5;
  display: flex;
  justify-content: center;
}

@media (max-width: 1150px) {
  .column {
    display: none;
  }

  .link-cleaner-container {
    flex-grow: 1;
  }

  .new-links-container {
    flex-grow: 1;
    max-width: 500px;
  }

  .container {
    margin: 50px 0;
    flex-wrap: wrap;
    justify-content: center;
  }
}
