.cleaner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 40vh;
  min-height: 400px;
}

.link-container {
  width: 70%;
  margin-bottom: 0 !important;
}

.form-container {
  display: flex;
  flex-direction: column;
  height: 40%;
  justify-content: space-between;
  align-items: center;
}

.input {
  width: 25vw;
  min-width: 300px;
  background-color: #f2f2f2;
  border: none;
  border-radius: 10px;
  padding: 5px 0 5px 20px;
  font-family: "Montserrat", sans-serif;
  color: #555555;
  font-size: 16px;
  font-weight: 500;
}

.input::placeholder {
  color: #aaaaaa;
}

.note {
  font-size: 10px;
  text-align: center;
}

.btn {
  margin-top: 10px;
  padding-left: 27px !important;
  padding-right: 27px !important;
}

.alert{
  position: fixed;
  top: 20px;
  left: 20px;
  margin-right: 20px;
  z-index: 1;
  font-family: "Montserrat", sans-serif !important;
  letter-spacing: unset !important;
}

@media (max-width: 1366px) {
  .btn {
    padding-left: 23px !important;
    padding-right: 23px !important;
  }

  .input {
    font-size: 13px;
  }

  .note {
    font-size: 8px;
  }
}
