.time-ago {
  position: absolute;
  bottom: 5px;
  right: 15px;
  font-size: 12px;
}

.link-container {
  min-height: 65px;
}

@media (max-width: 1600px) {
  .link-container {
    margin-bottom: 10px !important;
  }

  .link-container:last-child {
    margin-bottom: 20px !important;
  }
}