.link-cleaner-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 70vh;
  min-height: 800px;
}

@media (max-height: 800px) {
  .link-cleaner-container {
    min-height: 500px;
  }
}

@media (max-width: 630px) {
  .link-cleaner-container {
    height: auto;
  }
}